<template lang="pug">
  .default.half-layout
    Header(qa_header)
    transition-layout
      router-view
    Footer(qa_footer)
</template>

<script>
import QuestionContent from '@/core/QuestionContent.vue';
import Header from '@/components/Header.vue';
import Footer from '@/components/Footer.vue';
import TransitionLayout from '@/layouts/TransitionLayout.vue';

export default {
  name: 'HalfExample',
  components: {
    TransitionLayout,
    Footer,
    Header,
    QuestionContent,
    // TransitionLayout,
  },
  data: () => ({
    currentQuestion: null,
  }),
  methods: {
    updateUrl() {
      const { question } = this.$route.query;
      if (question) {
        this.currentQuestion = +question;
      }
    },
  },
  created() {
    this.updateUrl();
  },
  watch: {
    $route() {
      this.updateUrl();
    },
  },
};
</script>

<style lang="scss">

</style>
