<template lang="pug">
  main.test
    .test__img-container
      picture-2x(
        className="test__img-mirror"
        :fileName="updateFace"
        ext="png"
        width="128"
        height="59"
        alt="зеркало заднего вида")
      picture-comp(
        className="test__img-rudder"
        fileName="test/rudder"
        sizes="(min-width: 1280px) 50vw, 100vw"
        :imgSetSizes="$options.imgRudderSizes"
        ext="png"
        width="1055"
        height="455"
        alt="салон автомобиля")
      picture-comp(
        ref="pictureBg"
        className="test__bg"
        :fileName="`test/test${question}-`"
        :imgSetSizes="$options.imgBgSizes"
        width="320"
        height="195"
        alt="заснеженная улица")
    .question
      .container.question__inner
        .question__counter
          span.current(v-html="question")
          span /
          span.total(v-html="totalQuestions")
        transition-layout
          .question__feedback-wrap(v-if="!currentAnswer" key="top")
            b.question__title Где эта дорога?
            .question__answers-list
              button.question__answer(
                qa_quiz_answer
                v-for="item in info.answers"
                v-html="item.answer"
                @click="onClickAnswer($event, item)")
          .question__feedback-wrap(v-else key="bottom")
            b.question__feedback(v-html="feedback")
            p.question__marketing(v-if="marketing" v-html="marketing")
            a.btn-light-blue.question__btn-next(
              :qa_quiz_next="!isFinish"
              :qa_quiz_result="isFinish"
              href="#"
              @click.prevent="updateRoute" v-html="isFinish ? 'Результат' : 'Далее'")
</template>

<script>
import PictureComp from '@/components/PictureComp.vue';
import Picture2x from '@/components/Picture2x.vue';
import TransitionLayout from '@/layouts/TransitionLayout.vue';

export default {
  name: 'QuestionContent',
  components: {
    TransitionLayout,
    Picture2x,
    PictureComp,
  },
  data: () => ({
    question: null,
    totalQuestions: 6,
    info: {},
    currentAnswer: null,
    feedback: '',
    marketing: '',
  }),
  computed: {
    isFinish() {
      return this.question === this.totalQuestions;
    },
    updateFace() {
      if (this.currentAnswer === null) {
        return 'test/normal-face';
      }
      return this.currentAnswer === this.info.rightAnswerId
        ? 'test/joyful-face' : 'test/angry-face';
    },
  },
  imgBgSizes: [320, 640, 1600, 3200],
  imgRudderSizes: [1025, 2050],
  created() {
    this.renderQuestion();
  },
  methods: {
    renderQuestion() {
      this.question = +this.$route.query.question;
      if (this.question === 1) {
        this.$root.store.resetPointsAction();
      }
      const questionsData = this.$utils.loadJSON('template/questions.json');
      if (questionsData) {
        this.totalQuestions = Object.keys(questionsData).length;
        this.info = questionsData[`question${this.question}`];
        this.marketing = questionsData[`question${this.question}`].marketing;
        this.feedback = '';
      }
    },
    onClickAnswer(e, answerObj) {
      e.currentTarget.classList.add('active');
      this.currentAnswer = answerObj.id;
      this.feedback = answerObj.feedback;
      if (answerObj.id === this.info.rightAnswerId) {
        this.$root.store.increasePointsAction();
      }
    },
    updateRoute() {
      this.$refs.pictureBg.removeClassLoaded();
      this.currentAnswer = null;
      if (this.isFinish) {
        let place = '3';
        if (this.$root.store.state.totalPoints >= 5) {
          place = '1';
        } else if (this.$root.store.state.totalPoints >= 3) {
          place = '2';
        }
        this.$router.push({ path: '/result', query: { result: `${place}` } });
        return;
      }
      this.$router.replace({ path: 'roadstest', query: { question: `${this.question + 1}` } });
    },
  },
  watch: {
    $route() {
      this.renderQuestion();
    },
  },
};
</script>

<style lang="scss">
.test {
  background: $blue;

  @include breakpoint(lg) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 100%;
  }
}

.test__img-container {
  position: relative;
}

.test__img-mirror {
  position: absolute;
  top: 0;
  right: 50%;
  transform: translate(50%);
  width: rem(128);

  @include breakpoint(lg) {
    z-index: 2;
    width: rem(320);
    right: rem(48);
    transform: none;
  }
}

.test__img-rudder {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.test__bg {
  opacity: 0;

  @include breakpoint(lg) {
    height: 100%;
    object-fit: cover;
  }

  &.loaded {
    opacity: 1;
    transition: opacity 1s;
  }
}
.question {
  border-top: 2px solid $white;

  @include breakpoint(lg) {
    border-top: none;
    border-left: 2px solid $white;
  }
}

.question__inner {
  display: flex;
  flex-direction: column;
  padding: rem(25) rem(16) 0;
  width: initial;

  @include breakpoint(lg) {
    padding: 78px 80px 78px 104px;
  }
}

.question__counter {
  margin-bottom: rem(16);

  @include breakpoint(lg) {
    margin-bottom: rem(27);
  }
}

.question__title {
  margin-bottom: rem(29);
  font-family: $Play;
  font-weight: bold;
  font-size: rem(37);
  line-height: rem(43);

  @include breakpoint(lg) {
    text-align: center;
    margin-top: rem(27);
    font-size: rem(45);
    line-height: rem(52);
  }
}

.question__answers-list {
  display: grid;
  row-gap: rem(15);
}

.question__answer {
  min-height: rem(82);
  padding: rem(16);
  font-size: rem(14);
  text-align: left;
  border-radius: 3px;
  background: $blue-sky;
  transition: color $duration-default, background-color $duration-default;

  &:hover,
  &:focus {
    color: $dark-blue;
    background: $light-blue;
  }

  @include breakpoint(lg) {
    font-size: rem(16);
  }

  &.active {
    background: $white;
  }
}

.question__btn-next {
  margin-right: auto;
  cursor: pointer;
}

.question__feedback-wrap {
  display: flex;
  flex-direction: column;
}

.question__feedback {
  margin-bottom: rem(24);
  font-weight: bold;
  font-size: rem(18);

  @include breakpoint(lg) {
    margin-top: 58px;
  }
}

.question__marketing {
  margin-bottom: rem(40);
  font-weight: 700;

  a {
    color: $light-blue;
    text-decoration: underline;
  }
}
</style>
