<template lang="pug">
  div(id="app")
    transition-layout
      Index(v-if="$route.fullPath === '/'")
      roads-test(v-else)
</template>

<script>

import Index from '@/pages/Index.vue';
import RoadsTest from '@/pages/RoadsTest.vue';
import TransitionLayout from '@/layouts/TransitionLayout.vue';

export default {
  components: {
    TransitionLayout,
    RoadsTest,
    Index,
  },
};
</script>
<style>

</style>
