@import './reset';
@import './fonts';
@import './transitions';

html {
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: $Opensans;
  color: white;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  background: $blue;
}

#app {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  padding: 0 rem(16);
  width: 100%;

  @include breakpoint(sm) {
    padding: 0;
    margin: 0 auto;
    width: rem(640);
  }

  @include breakpoint(md) {
    width: rem(915);
  }

  @include breakpoint(lg) {
    width: rem(1040);
  }

  @include breakpoint(xl) {
    width: rem(1500);
  }
}

.btn-light-blue {
  display: block;
  min-width: rem(250);
  padding: rem(16);
  margin-bottom: rem(38);
  font-weight: bold;
  font-size: rem(16);
  text-align: center;
  color: $dark-blue;
  background: $light-blue;
  box-shadow: 0 4px 52px rgba(0, 39, 66, 0.9);
  border-radius: 3px;
  transition: background-color $duration-default;

  &:hover,
  &:focus {
    background: white;
  }
}

[lazy] {
  opacity: 0 !important;
  transition: opacity $duration-default !important;
}

[lazy="loaded"] {
  opacity: 1 !important;
}
